<div class="animated fadeInRight">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-2 col-md-4 col-sm-4 col-xs-4">
      <%= image_tag("portrait.png", :width => 120, :height => 120, :class => "profile-image img-circle pull-right") %>
      <br/>
      <br/>
      <br/>
      <div class="social-links">
        <a href="http://twitter.com/peterjskennedy" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="http://www.linkedin.com/pub/peter-kennedy/46/880/943" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="http://github.com/pjskennedy" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="col-lg-7 col-md-8 col-sm-8 col-xs-8">
      <br/>
      <h1>Peter Kennedy</h1>
      <p>
        Software engineer out of Toronto, ON
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 col-xs-12">
      <a class="about-link-icon" href="http://www.pagerduty.com/" target="_blank">
        <%= image_tag("pd.png", :width => 75, :height => 75, :class => "img-rounded") %>
      </a>
      <a class="about-link-icon" href="http://groc.herokuapp.com/" target="_blank">
        <%= image_tag("groc.png", :width => 75, :height => 75, :class => "img-rounded") %>
      </a>
      <a class="about-link-icon" href="http://www.citoprint.org/" target="_blank">
        <%= image_tag("citoprint.png", :width => 75, :height => 75, :class => "img-rounded") %>
      </a>
      <a class="about-link-icon" href="http://app.lk/veniohealth" target="_blank">
        <%= image_tag("venio.png", :width => 75, :height => 75, :class => "img-rounded") %>
      </a>
    </div>
  </div>
</div>
